# Copy this file to terraform.tfvars and adjust values.

project_id       = "my-gcp-project-id"
region           = "us-central1"
network_name     = "lab-vpc"
subnetwork_name  = "lab-subnet-us-central1"
subnetwork_cidr  = "10.10.0.0/24"
cluster_name     = "lab-autopilot"
artifact_repo_id = "lab-docker"
gke_sa_name      = "lab-gke-workload"
